@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .backdrop {
        @apply absolute  top-0 right-0 left-0 bottom-0 w-full flex justify-center items-center h-full z-[99999] 
    }

}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}